@import "nib"
@import "icomoom.styl"


article
    color #FFF
    margin-left 5rem
    padding 4rem
    max-width 800px
    blockquote
      font-family 'Open Sans', sans-serif
      font-style Oblique
      font-size 1.8rem
      margin-bottom 1rem
      color #C9FFFB    
    p
      font-size 18px
      font-style
      font-family 'Open Sans', sans-serif
      margin-bottom 0.7rem            
      text-shadow 1px 1px 8px #000
    h2
        font-family: 'Playfair Display', serif; 
        font-size 60px
        margin 25px 0
        line-height 1em
        font-style oblique
        color #0e001c
        span 
            font-size 1.2em
            font-family 'Open Sans', sans-serif
            line-height 1.1em
            display flex 
.story
  height 1000px
  padding 0
  margin 0 auto
  width 100%
  max-width 1920px
  position relative
  border-top 1px solid rgba(255,255,255,0.3)
  border-buttom 1px solid rgba(0,0,0,0.4)
  box-shadow 0 0 50px rgba(0,0,0,0.8)  
#first
  background url(../images/01cover.jpg) 50% 0 no-repeat fixed  
  .dibujalogo
    background url(../images/antoniosBrand.png) 50% 80px no-repeat fixed
    min-height 1000px
    padding 0
    width 100%
    max-width 1920px
    position relative
    margin 0 auto    
  article
    padding 0
    margin 0
    width 100%
    top 200px 
    position absolute
    text-align center
    max-width 100%    
    a
      &:hover 
        color #fff
    h1
      font-size 4rem
      font-family 'Open Sans', sans-serif 
      font-style oblique
      color #fff
      span
        font-family 'Playfair Display', serif
        font-size 1.3em        
 .Profile-link
    border-radius 2em
    color white
    margin-right .5em
    padding .5em 1em
    text-decoration none
    display inline-block
    margin-bottom 1em
    &.twitter
      background #00aced
    &.facebook 
      background #3b5998
    &.github
      background #5F04B4
    &.linkedin
      background #007bb6
    &.gplus
      background #007bb6
    &.youtube
      background #bb0000
    &.vine
      background #00bf8f      
#second
  background url(../images/02pubicidad.jpg) 50% 0 no-repeat fixed
  padding 0
  article
    position absolute
    top 0
    a
        color #D7FF3F
    p
      column-count 2
      column-gap 40px
      
  .gota2
    background url('../images/gota2.png') transparent 40% 100px no-repeat fixed
    min-height 1300px
    padding 0
    margin-top 0
    margin-left auto
    width 100%
    max-width 1920px   
    position relative
  .gota
    background url('../images/gota.png') transparent 40% 100px no-repeat fixed
    min-height 1300px
    padding 0
    margin-top 0
    margin-left auto
    width 100%
    max-width 1920px   
    position relative
#third
  background-image url('../images/04redes.jpg')
  background-repeat no-repeat
  background-attachment fixed
  background-position 50% top
  
  span 
    font-size 3rem 
  blockquote
    color #000   
  article 
    max-width 880
    margin-top 0
  h2
    font-size 4.5rem
    margin-top 0
    
.myBrands
  display flex
  align-items center
  justify-content space-between
  flex-wrap wrap
  img
    margin 0
#fourth
  background url(../images/03marcas.jpg) 50% 0 no-repeat fixed
  article
    h2
      span
        font-size 2.5rem
    .icon
      &-linkedin::before
      &-twitter::before
      &-github::before
      &-youtube::before
      &-fb::before
        font-size 2.5rem      
        float left     
        margin-right 1.4rem
        line-height 1
    a
      padding 1.5rem
      display block
      text-decoration none
      color #FFF
      line-height normal
      &.linkedin
        background rgba(0, 123, 182, 0.7)
        margin-bottom 0.3rem
        &:hover
          background #007bb6             
      &.twitter
        background rgba(0, 172, 237, 0.7)
        margin-bottom 0.3rem
        &:hover
          background #00aced
      &.facebook 
        background rgba(59, 89, 152, 0.7)
        margin-bottom 0.3rem
        &:hover
          background #3b5998
      &.github
        background rgba(95, 4, 180, 0.7)   
        margin-bottom 0.3rem
        &:hover
          background #5F04B4
     
      &.gplus
        background #007bb6
      &.youtube
        background rgba(187, 0, 0, 0.71)
        margin-bottom 0.3rem
        &:hover
          background #bb0000
      &.vine
        background #00bf8f
      h3        
        font-size 1.6rem
        font-family 'Playfair Display', serif 
        font-style oblique       
        margin-left 4rem
      p
        font-family 'Open Sans', sans-serif
        margin-left 4rem
           
      
  
#theend
  background url(../images/puckered.png) 50% bottom no-repeat fixed
  .byebye
    background url(../images/theend.png) 40% 100px no-repeat fixed
    height 1000px
    padding 0
    margin 0
    width 100%
    max-width 1920px
    position relative
    margin-top 0
    margin-left auto
#first article p  
#first article a
  color #ccc